<div class="column card">
  <img src=<%= pet.imageUrl %> alt=<%= pet.name %>>
  <div class="card-content">
    <h2><%= pet.name %></h2>
    <div class="row gap-12">
      <button type="button" class="max-content-flex btn-action">
        <a href=<%= `/pets/${pet.id}/edit` %> class="no-style">
          Update
        </a>
      </button>
      <form action=<%= `/pets/${pet.id}/destroy` %>
        method="delete"
        class="max-content-flex">
        <button type="submit" class="max-content btn-action btn-red">Delete</button>
      </form>
      <form action=<%= `/favorites/create` %>
        method="post"
        class="max-content-flex">
        <input type="number" class="hidden" name="petId" value=<%= pet.id %> />
        <button type="submit" class="max-content btn-action">Favorite</button>
      </form>

    </div>
  </div>
</div>